{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

<hr>
<hr>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<h1 class="entry-title">{% block blockname %} Профиль {% endblock blockname %} </h1>
{% block content %}
<div class="page-info-section set-bg mb-3" data-setbg="{% static 'webuni/img/page-bg/2.jpg' %}" style="height:200px">
  <div class="container">
    <div class="site-breadcrumb">

    </div>
  </div>
</div>
<div class="container">
  
<div class="container-fluid pl-5 pr-5 pb-3" id="profile"><h5><legend class="border-bottom mb-4 pt-4 display-3 text-center">Профиль</legend></h5>
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img p-2" style="width:100px; height:100px;" src="{{ user.profile.profile_pic.url }}">
      <div class="media-body">
        <h6 class=" display-4 pt-4 pl-4 ">{{ user.username }}</h6>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data" class="">
       {% csrf_token %}
       <fieldset class="form-group">
           {{ u_form|crispy }}
           {{ p_form|crispy }}
       </fieldset>
       <div class="form-group">
           <button class="btn btn-outline-success" type="submit">Изменить</button>
       </div>
   </form>
   {% if request.user.profile.is_teacher == True %}
   <div class="alert alert-info">Учётная запись Преподавателя. У Вас есть полный доступ к платформе.</div>
   {% else %}
   <div class="alert alert-info">Учётная запись Студента. У Вас есть доступ только в качестве студента.</div>
   {% endif %}
</div>
</div>
{% endblock %}